.layout {
  padding: 14.66667px; }
.layout.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; }
.layout.flex .card {
  width: 16.666667%;
  margin-bottom: 0; }
@media screen and (max-width: 1419px) {
  .layout.flex .card {
    width: 20%; } }
@media screen and (max-width: 1023px) {
  .layout.flex .card {
    width: 25%; } }
@media screen and (max-width: 727px) {
  .layout.flex .card {
    width: 33.33334%; } }
@media screen and (max-width: 600px) {
  .layout.flex .card {
    width: 50%; } }
.layout.masonry {
  column-count: 3; }
.layout.masonry .card {
  break-inside: avoid;
  page-break-inside: avoid; }
.card {
  position: relative;
  background: #fff;
  min-height: 288px;
  width: 100%;
  break-inside: avoid;
  page-break-inside: avoid; }
.card > div {
  padding: 22px; }
.card .media {
  position: relative;
  min-height: 200px;
  height: 15vh;
  overflow: hidden;
  padding: 0;
  background: rgba(51, 102, 153, 0.15);
  border: 6px solid #fff; }